<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>results page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!--JQUERY-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

	
	<script type="text/javascript" src="js/scripts.js"></script>

</head>
<body>
	<h1>results page</h1>

	


	<% for(let i = 0; i < parsedData.data.length; i++){ %>
		<div class = "col-sm-2">

	<img class="doctor-results img-rounded" src = "<%=parsedData.data[i].profile.image_url%>">

	<h4 class = "name-results"><a href = "<%=parsedData.data[i].uid%>"><%=parsedData.data[i].profile.first_name%> <%=parsedData.data[i].profile.last_name%></a>
	</h4>



	

		</div>
		<%}%>

</body>
</html>