body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightsteelblue;
  
}

a {
  color: #00B7FF;
}

.band-image img{
	width: 100%;
}

.profile {
	width: 200px;
	height:  100%;
}

.doctor-results {
	width: 150px;
	height: 100%;
	border: 1px solid black;
	text-align: center;
}
